@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar a.active {
  color: black;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 2px solid blue;
}

.primary-text {
  @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-transparent bg-clip-text;
}
.normal-shadow {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
