@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar a.active {
  color: black;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid blue;
}

.primary-text {
  @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-transparent bg-clip-text;
}
.normal-shadow {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.active {
  @apply flex items-center gap-2 border-s-[3px] border-blue-500 bg-blue-50  text-blue-700  px-4 py-3  hover:border-blue-300 hover:bg-blue-100 hover:text-blue-600;
}
.not-active {
  @apply flex items-center gap-2  border-transparent px-4 py-3 text-gray-500 hover:border-gray-100 hover:bg-gray-50 hover:text-gray-700;
}

/* for navbar on small device */

@media (max-width: 767px) {
  .menu-compact {
    display: none;
  }
  .menu-compact.block {
    display: block;
  }
}
